.h1{
  background:  red;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.p{
  background: green;
  color: white;
  font-size: 18px;
}

.button{
  background: orange;
  font-size: 18px;

}
